

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
<link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
<link href="css/style.css" rel="stylesheet" type="text/css">
  <style>

  </style>

  </head>
  <body>
    <div class="grid">
      <div class="text-center">
      <div class="row">

    <h1 class="container" style="font-family:'Josefin Sans';">COMBINING INNOVATION,EXPERIENCE AND RELIABILITY</h1>
  </div>
<div class="container">
      <p style="font-family:'Josefin Sans';">As suppliers of solar installations and ecological energy technology products, we deliver integrated sustainable alcen solutions for private and commercial as well as the public sector. Thats what our employees are committed to our product and service portfolio ranges from home / street lighting systems to megawatt level power plants.
        Our ALCEN products and power solutions are engineered for reliability and performance. Our workforce comprises of skilled technicians and specialised installers. We do not compromise on quality, performance and longevity of the system we deliver. We design them by combiningcomponents and on time delivery/completion of project is our mantra.
        We belive in customer first. From the first conversation to dispatch ,we make care to deliver precise and value-driven performance to all our clients, quality consciousness and frictionless cooperation constitutes quality ethos.</p>
</div></div>
<div class="container">
<div class="fullCard" id="thumbnail">
  <div class="cardContent">
    <div class="cardText">
      <h4>Quick Links</h4>
      <hr>
      </div>
    <div class="cardLinks">
      <ul>
        <li><a href="/ab1"   class="links">TRANSFORMING LIVES THROUGH SOLAR ENERGY</a><br><br></li>
        <li><a href="/ab2#"   class="links">WHY INVEST IN SOLAR POWER?</a><br><br></li>
        <li><a href="/ab3#"   class="links">ALCEN: A ONE-STOP SOLAR ENERGY SUPPLIER</a><br><br></li>
        <li><a href="/ab4"   class="links">COMBINING INNOVATION,EXPERIENCE AND RELIABILITY</a><br><br></li>
        <li><a href="/ab5"   class="links">WHY US?</a></li>
    </div>
  </div>
</div>
</div>
</div>
<div>
  <%- include footer %>
</div>
  </body>
</html>
