<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>About Us</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
  <!-- <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous"> -->
  <link href="css/style.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>
  <style>
  body{

    background-image: url(https://cratewholesale.com/wp-content/uploads/2012/05/light-green-background-2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;


  }
    .navbar-inverse {
      background: #2c3e50;
      color: white;
    }
    .navbar-inverse .navbar-brand, .navbar-inverse a{
      color:white;
    }
    .navbar-inverse .navbar-nav>li>a {
      color: #2c3e50;
    }
    .navbar{
      border: none;
      border-radius: none;
    }

    .company-logo {
      background-color: #edffb3;
    }

    .page-footer{
      background-color: #2c3e50;
      padding-top: 10px;
      padding-bottom: 20px;
      font-size: 15px;
    }
    .navbar-nav > li > a:hover {

      color: #008e00!important;
      background-color: #d6e3c5!important;

  }

    #company-name{
      font-size:25px;
      color:#edffb3;
      padding-left: 10px;
    }

    p{
      font-size: 18px;
    }

    #xyz{
      background: #2c3e50;
      color: #ffffff;
      padding-top: 5px;
      padding-bottom: 5px;
      padding-left: 70px;
    }

    #company-name{
      font-size:25px;
      color:#edffb3;
      padding-left: 10px;
    }

    #footer-text{
      color:#ffffff;
      padding-left: 10px;
    }

    .card-img{
      background: #eee;
    }

    .jumbotron {
      color: #fff;
      background: linear-gradient(#75777a,#2c3e50);
    }
    .fullCard{
      background: #eee;
    }
    .nav > li > a{
      font-size: 18px;
      padding-top: 15px;
      color: #fff;
    }

    #nav-content{
      padding-top: 20px;

    }




  </style>



<body>
  <!-- <nav class="navbar navbar-inverse" style="background-color:#eee;" >
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-demo">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
      </div>
      <div class="collapse navbar-collapse" id="navbar-demo">
        <ul class="nav navbar-nav" style="color: black;">
          <li><a href="/"><img src="images/logo1.png" width="250" height="60" alt=""></a></li>
          <li id="nav-content"><a href="/aboutus">About Us</a></li>
          <li id="nav-content"><a href="/product">Products</a></li>
          <li id="nav-content"><a href="/project">Project</a></li>
          <li id="nav-content"><a href="#bottom">Contact us</a></li>
          <li id="nav-content"><a href="/career">Career</a></li>
        </ul>
      </div>
  </nav> -->
  <%- include('navbar') %>
</div>

  <div class="container-fluid">

    <div class="jumbotron">
      <h1><i class="fa fa-info-circle"></i> About Us </h1>


    </div>
    <div class="row">
      <div class="col-lg-1">

      </div>
      <div class="col-lg-7 col-xs-12 col-sm-12">
        <h1 id="ab1" style="font-family:'Josefin Sans'; font-size: 30px;max-width:100%; ">
          TRANSFORMING LIVES THROUGH SOLAR ENERGY
          <hr>
        </h1>
        <p style="font-family:'Josefin Sans';">
          Climate change due to phenomena of global warming and emission of green house gases,is the biggest challenge facing mankind today. To reduce greenhouse gas emission, we can reduce use of fossile
          energy or increases use of renewable energy.indias target to set up 175 GW of renewable energy capacity by 2022, is a huge step forward.solar energy, not only helps to reduce carbon footprints but can effectively supplement power supply
          from an
          electricity transmission grid, thereby providing energy security however, for sustainability, initiatives must be taken to make solar technology cost competitive with coal</p>
        <h1 id="ab2" style="font-family:'Josefin Sans'; font-size: 30px;max-width:100%; ">
            WHY INVEST IN SOLAR POWER?
          </h1>
          <hr>
        <p style="font-family:'Josefin Sans';">
          There are many reasons for installing solar power systems. Investing in Solar PV energy
          systems not only reduces carbon dioxide emission, but is also a secure investment with
          solid dividendes. It helpes to reduce dependence on conventional power and enables
          access to a clean and competent alternative, efficient energy solution, with reduced
          carbon footprints.</p>
        <h1 id="ab3" style="font-family:'Josefin Sans'; font-size: 30px;max-width:100%; ">
              ALCEN: A ONE-STOP SOLAR ENERGY SUPPLIER
            </h1>
            <hr>
        <p style="font-family:'Josefin Sans';">
          Cooperating successfully with our customers and the Sun ,for the last few years, we
          have been pioneers in solar power engineering from 2014. More than three successful
          years in solar power engineering.</p>
        <h1 id="ab4" style="font-family:'Josefin Sans'; font-size: 30px;max-width:100%; ">
                COMBINING INNOVATION,EXPERIENCE AND RELIABILITY
              </h1>
              <hr>
        <p style="font-family:'Josefin Sans';">
          As suppliers of solar installations and ecological energy technology products, we deliver
          integrated sustainable alcen solutions for private and commercial as well as the public
          sector. Thats what our employees are committed to our product and service portfolio
          ranges from home / street lighting systems to megawatt level power plants.
          Our ALCEN products and power solutions are engineered for reliability and
          performance. Our workforce comprises of skilled technicians and specialised installers.
          We do not compromise on quality, performance and longevity of the system we deliver.
          We design them by combiningcomponents and on time delivery/completion of project
          is our mantra.
          We belive in customer first. From the first conversation to dispatch ,we make care to
          deliver precise and value-driven performance to all our clients, quality consciousness
          and frictionless cooperation constitutes quality ethos</p>
        <h1 id="ab5" style="font-family:'Josefin Sans'; font-size: 30px;max-width:100%; ">
                  ADVANTAGES OF USING ALCEN TECHNOLOGY AS A SERVICE OFFERING
                </h1>
                <hr>
        <p>
          <ul style="font-family:'Josefin Sans'; font-size:20px;">
            <li>Our vision, cost benefit approach, help us to deliver world class solutions to our customers, with a high degree of innovation, reliability.</li>
            <li> Our products are mnnufactured in our own supervision, under strict quality surveillance.</li>
            <li> We provide solar based cost effective solar water pumping solution for the agricultural sector</li>
            <li> We provide sustainable energy support for educational and other institution both public and private</li>
          </ul>
          </p>

      </div>
      <div class="col-lg-3 col-xs-10 col-sm-10 container">
        <div class="fullCard" id="thumbnail">
          <div class="cardContent">
            <div class="cardText">
              <h4 style="padding:10px;font-family:'Josefin Sans'; color:white;">QUICK LINKS</h4>
              <hr>
            </div>
            <div class="cardLinks" style="padding-left:5px; font-family:'Josefin Sans';">
                <a href="#ab1"  class="links">  <i class="fab fa-google-play"></i>TRANSFORMING LIVES THROUGH SOLAR ENERGY</a><br><br></li>
                <a href="#ab2"   class="links">  <i class="fab fa-google-play"></i>WHY INVEST IN SOLAR POWER?</a><br><br></li>
                <a href="#ab3"   class="links">  <i class="fab fa-google-play"></i>ALCEN: A ONE-STOP SOLAR ENERGY SUPPLIER</a><br><br></li>
                <a href="#ab4"   class="links">  <i class="fab fa-google-play"></i>COMBINING INNOVATION,EXPERIENCE AND RELIABILITY</a><br><br></li>
                <a href="#ab5"   class="links">  <i class="fab fa-google-play"></i>WHY US?</a></li>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-1">

      </div>
    </div>
  </div>
  <br><br>
  <footer id="bottom" class="page-footer">
      <div class="row">
        <div class="col-lg-6">
          <p id="company-name">Alcen Technologies Private Limited</p>
        </div>
        <div class="col-lg-6">
          <p id="footer-text">Plot No.- 24/1/A, Chandaka industial Estate,Near NIFT Building, KIIT Campus,BHUBANESWAR-751024. ,Odisha<br>Tel.:+91 674 2552984 2552985, Fax: +91 674 2552986<br>Email: alcentechnology@gmail.com<br><a href="/login"><i class="fas fa-user" style="color:white;">Admin Login</i><a></p>
        </div>
      </div>
  </footer>


</body>

</html>
