<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title></title>
  <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link href="css/style.css" rel="stylesheet" type="text/css">
</head>

<body>
  <div class="grid">
    <div class="text-center">
      <div class="row">

        <h1 class="container" style="font-family:'Josefin Sans';">ADVANTAGES OF USING ALCEN TECHNOLOGY AS A SERVICE OFFERING</h1>
      </div>
      <div class="container">
        <p>
          <ul>
            <li>Our vision, cost benefit approach, help us to deliver world class solutions to our customers, with a high degree of innovation, reliability.</li>
            <li> Our products are mnnufactured in our own supervision, under strict quality surveillance.</li>
            <li> We provide solar based cost effective solar water pumping solution for the agricultural sector</li>
            <li> We provide sustainable energy support for educational and other institution both public and private</li>
          </ul>
        </p>
      </div>
    </div>
    <div class="container">
      <div class="fullCard" id="thumbnail">
        <div class="cardContent">
          <div class="cardText">
            <h4>Quick Links</h4>
            <hr>
          </div>
          <div class="cardLinks">
            <ul>
              <li><a href="/ab1"   class="links">TRANSFORMING LIVES THROUGH SOLAR ENERGY</a><br><br></li>
              <li><a href="/ab2#"   class="links">WHY INVEST IN SOLAR POWER?</a><br><br></li>
              <li><a href="/ab3#"   class="links">ALCEN: A ONE-STOP SOLAR ENERGY SUPPLIER</a><br><br></li>
              <li><a href="/ab4"   class="links">COMBINING INNOVATION,EXPERIENCE AND RELIABILITY</a><br><br></li>
              <li><a href="/ab5"   class="links">WHY US?</a></li>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <%- include footer %>
  </div>
</body>

</html>
