<!DOCTYPE html>
<html>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">

<meta name="viewport" content="width=device-width, initial-scale=1">


<title>Add Notice </title>
<body>
  <center>
    <div class="row">
      <div class="col-lg-4">

      </div>
      <div class="col-lg-3">
  <div class="container mt-5">

        <form class="form-group " method="POST" action="/enter">
    <h3 class="mt-3" style="padding-top:5px;">Add news</h3>
    <hr>
    <label for="title"><b>Title</b></label>
    <input type="text" class="form-control" placeholder="Title" name="title" required>

    <label for="body"><b>Body</b></label>
    <textarea rows="7" class="form-control" cols="45" type="text" placeholder="Enter News Description" name="body" required></textarea>

    <button type="submit" class="btn btn-danger col mt-3">Submit</button>
  </div>
</div>
  </div>
</form>
</center>
</body>
 <style>
 @import url('https://fonts.googleapis.com/css?family=PT+Serif');
  body {font-family:  Helvetica, sans-serif;
    background: rgba(0,0,0,0.05);
}
* {box-sizing: border-box}

.container{

   height:470px;
   background-color: #2c3e50;
   opacity: 0.9;
   color: white;
   width: 100%;
   top: 100px;
   border: white;
   border-radius: 10px;

}

/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;


    display: inline-block;
    border: none;
    background: white;
}

input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

hr {
    border: 1px solid #f1f1f1;

}

/* Set a style for all buttons */
button {
    background-color: #1678c2!important;
    color: white;


    border: none;
    cursor: pointer;
    width: 60%;
    opacity: 0.9;
    align-items: center;
}

button:hover {
    opacity:1;
}
label{
  font-family: 'PT Serif', serif;
  font-size: 20px;
}




</style>
</body>


</html>
