<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <ul>
      <% for(var i=(datas.length-1); i>=0; i-- ) { %>
      <li><%= datas[i].careerTitle %></a> </span></li>
      <% } %>
    </ul>
  </body>
</html>
