<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link href="css/style.css" rel="stylesheet" type="text/css">
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <%- include('navbar') %>
    <p><%= datas.title %></p>
    <p><%= datas.body %></p>
  </body>
</html>
