
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <style>
    .admins{
      font-size: 50px;
      color: red;
    }



  </style>
  <body>
    <div class="admins">
      <h1>ADMINS ONLY</h1>
      <img src="https://images-na.ssl-images-amazon.com/images/I/51zLZbEVSTL._SX425_.jpg" >
      <a href="/"><button type="button" name="home" >HOME</button></a>

    </div>

  </body>
</html>
