<nav class="navbar navbar-inverse" style="background:linear-gradient(to right,#eff1f4 35%,#2c3e50)!important" >
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-demo">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
    </div>
    <div class="collapse navbar-collapse" id="navbar-demo">
      <ul class="nav navbar-nav" style="color: black;">
        <li><a href="/"><img src="images/logo1.png" width="250" height="60" alt=""></a></li>
        <li id="nav-content"><a href="/aboutus">About Us</a></li>
        <li id="nav-content"><a href="/product">Products</a></li>
        <li id="nav-content"><a href="/project">Project</a></li>
        <li id="nav-content"><a href="#bottom">Contact us</a></li>
        <li id="nav-content"><a href="/career">Career</a></li>
      </ul>
    </div>
</nav>
