<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
     <style media="screen">
     .slide{
       width: 100%;
       height: 500px;
       background-color: #EEEEEE;
     }
     .button-sizing{
       width: 60%;
       border-radius: 8px;
     }
     </style>
    <title></title>
  </head>
  <body style="background-color:#2f3640;">
    <center>
    <div class="container mt-5">
      <div class="row">
        <div class="col-lg-4"></div>
        <br><br>
        <div class="slide col-lg-4 border border-secondary rounded" style="background-color:#f6e58d;">
          <br><br>
          <h1 class="card-title"><i class="fa fa-database" aria-hidden="true"></i>Select an entry</h1>
          <hr>
          <br><br>
          <a href="/addnews"><button type="button" class="btn btn-primary my-2 button-sizing" name="news-events">Add news-events</button></a>
          <br><br>
          <a href="/addcareer"><button type="button" class="btn btn-primary my-2 md-1 button-sizing" name="career">Add career</button><br><br></a>
          <a href="/"><button type="button" class="btn btn-primary my-2 md-1 button-sizing" name="home">Home</button></a>
        </div>
      </center>
  </div>
  </div>
</div>

    </div>
  </body>
</html>
