<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
     <style media="screen">
     .slide{
       width: 100%;
       height: 500px;
       background-color: #EEEEEE;
     }
     </style>
    <title></title>
  </head>
  <body>
    <center>
    <div class="container">
      <div class="row">
        <div class="col-lg-4"></div>
        <div class="slide col-lg-4 border border-secondary rounded">
          <h1><i class="fa fa-database" aria-hidden="true"></i></h1><br>
          <h1 class="card-title">Select an entry</h1>
          <hr>
          <button type="button" class="btn btn-primary my-2" name="news-events">Add news-events</button>
          <br>
          <button type="button" class="btn btn-primary my-2 md-1" name="career">Add career</button>
        </div>
      </center>
  </div>
  </div>
</div>

    </div>
  </body>
</html>
