<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">

  </head>
  <style>
    #xyz{
      background: #2c3e50;
      color: #ffffff;
      padding-top: 5px;
      padding-bottom: 5px;
      padding-left: 70px;
    }

    .w3-container{
      /* border: 1px solid grey; */
      background: #ecf0f1;
      color: #2c3e50;
      padding-left: 3px;
      padding-bottom: 15px;
    }

    .w3-container>a{
      color: #2c3e50;
      font-family: "verdana"



    }

    p{
      font-size: 18px;
      font-family: 'Varela Round', sans-serif;




    }

    .container{

    }
  </style>

  <body>
    <div class="container">
      <div class="jumbotron">
        <h1><i class="fa fa-briefcase"></i> Our Products </h1>


      </div>
      <div class="row">
        <div class="col-lg-8">
          <h3><b>HYBRID SOLAR INVERTER (HSI)</b></h3><hr>
          <p>The HSI is a uniquely featured solar inverter which provides single phase or three phase 230 AC power to connected load. It works with battery or without battery-connected conditions and also supports the connected grid, to cater to the load. Power generated form Solar PV is fully utilized to either charge the battery or to cater to the load, in conjuction with the grid. This system also has the capability to run the load directly form Solar PV, in absence of geid and battery, within the limits of PV power.</p><br><br>

          <h3><b>SOLAR  HOME  LIGHTING  SYSTEM (SHLS)</b></h3><hr>
          <p>The solar home lighting system is an excellent  solution for domestic lighting  (DC) in rural/urban  areas  and especially in remote areas whice are inaccessible by the power grid. A typical solar home lighting system comprises of solar PV module, battery (LMLA/VRLA), charge controller connected in a sequence to provide power to domestic load (like luminaries, protable TV, redio, DC fan etc.) the battery and module ratings are selectable as per the load requirement. The systems are designed typically to give a daily working time of 3-4 hours. The system is tested as per MNRE technical requirements/standards.</p><br><br>

          <h3><b>SOLAR STREET LIGHTING SYSTEM (SSLS)</b></h3><hr>
          <p>The solar street lighting system caters to needbased street lighting and outdoor/garden lighting. It gives 10-12 hours of continuous, bright, cooler light, with automatic dusk to down controls. A typical SSLS comprises of a CFL/LED luminary light source, battery (LMLA/VRLA) for storage of electricity, PV module for charging the battery, charge controller for safe charging and discharging  of battery and dusk-to-dawn controls for operating the lamp. The system is tested as per MNRE technical  requirements/standards.</p><br><br>

          <h3><b>DIGITAL DC ENERGY METER</b></h3><hr>
          <p>The DC energy meter is a dual channel DC multifunction  meter for measurement of DC energy, from SPV applications. It measures DC electrical parameters like voltage, ampere, ampere-hour (Ah) and kilowatt-hour (kWh). The battery charging and discharging para meters can be monitored by using this meter. This instrument has an optional RS 485 output port for RM  interface.</p><br><br>

          <h3><b>REMOTE MONITORING  & DIAGONISTIC SYSTEM (RMS)</b></h3><hr>
          <p>Primarily developed to monitor the performance of a Solar PV Power Plant (SPP)of any size, to maximize solar power harvesting and reduce maintenance cost and time, for analysis of the plant performance data. It also has the capability to transfer the logged data to Agni’s server for remote monitoring purpose. Generally Agni provides a user ID and a password to the intended customer for monitoring purpose. Customer can monitor their SPP remotely with the help of a monitoring web-portal, with the supplied ID and password, using any standard web-browser like Mozilla, firefox, google chrome.Agni will maintain the server, reducing the customer’s effort to maintain the same.</p><br><br>



        </div>

        <div class="col-lg-1">

        </div>

        <div class="col-lg-3">
          <br><br><br>
          <div id="xyz">
            <h4>Related Links</h4>
          </div>
          <div class="w3-container">

            <br>
            <a href="#"><b>HYBRID SOLAR INVERTER</b></a><br><br>
            <a href="#"><b>SOLAR HOME LIGHTING SYSTEM</b></a><br><br>
            <a href="#"><b>SOLAR STREET LIGHTING SYSTEM</b></a><br><br>
            <a href="#"><b>DIGITAL DC ENERGY METER<b></a><br><br>
            <a href="#"><b>REMOTE MONITORING & DIAGONISTIC SYSTEM<b></a><br><br>
          </div>


        </div>




      </div>

    </div>

  </body>
</html>
