<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title></title>
  <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link href="css/style.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>

<body>
  <!-- <div class="grid"> -->
  <div class="container">
    <div class="fullCard" data-toggle="modal" data-target="#myModal" id="thumbnail">
      <div class="cardContent">
        <div class="cardText">
          <b>HYBRID SOLAR INVERTER (HSI)</b>
        </div>
        <div class="cardLinks">

        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="fullCard" data-toggle="modal" data-target="#myModal1" id="thumbnail">
      <div class="cardContent">
        <div class="cardText">
          <b>SOLAR HOME LIGHTING SYSTEM (SHLS)</b>
        </div>
        <div class="cardLinks">

        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="fullCard" data-toggle="modal" data-target="#myModal2" id="thumbnail">
      <div class="cardContent">
        <div class="cardText">
          <b>SOLAR STREET LIGHTING SYSTEM (SSLS)</b>
        </div>
        <div class="cardLinks">

        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="fullCard" data-toggle="modal" data-target="#myModal3" id="thumbnail">
      <div class="cardContent">
        <div class="cardText">
          <b>DIGITAL DC ENERGY METER</b>
        </div>
        <div class="cardLinks">

        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="fullCard" data-toggle="modal" data-target="#myModal4" id="thumbnail">
      <div class="cardContent">
        <div class="cardText">
          <b>  REMOTE MONITORING & DIAGONISTIC SYSTEM (RMS)</b>
        </div>
        <div class="cardLinks">

        </div>
      </div>
    </div>
  </div>


  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog" >

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header" >
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title" >DIGITAL DC ENERGY METER</h4>
        </div>
        <div class="modal-body">
          <p><b>The HSI is a uniquely featured solar inverter which provides single phase or three
            phase 230 AC power to connected load. It works with battery or without battery-
            connected conditions and also supports the connected grid, to cater to the load. Power
            generated form Solar PV is fully utilized to either charge the battery or to cater to the
            load, in conjuction with the grid. This system also has the capability to run the load
            directly form Solar PV, in absence of geid and battery, within the limits of PV power.</b></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>
  <div class="modal fade" id="myModal1" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">HYBRID SOLAR INVERTER (HSI)</h4>
        </div>
        <div class="modal-body">
          <p><b>The solar home lighting system is an excellent solution for domestic lighting (DC) in
            rural/urban areas and especially in remote areas whice are inaccessible by the power
            grid. A typical solar home lighting system comprises of solar PV module, battery(LMLA/VRLA), charge controller connected in a sequence to provide power to domestic
            load (like luminaries, protable TV, redio, DC fan etc.) the battery and module ratings are
            selectable as per the load requirement. The systems are designed typically to give a
            daily working time of 3-4 hours. The system is tested as per MNRE technical
            requirements/standards.</b></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>
  <div class="modal fade" id="myModal2" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">SOLAR HOME LIGHTING SYSTEM (SHLS)</h4>
        </div>
        <div class="modal-body">
          <p><b>The solar street lighting system caters to needbased street lighting and outdoor/garden
            lighting. It gives 10-12 hours of continuous, bright, cooler light, with automatic dusk to
            down controls. A typical SSLS comprises of a CFL/LED luminary light source, battery
            (LMLA/VRLA) for storage of electricity, PV module for charging the battery, charge
            controller for safe charging and discharging of battery and dusk-to-dawn controls for
            operating the lamp. The system is tested as per MNRE technical
            requirements/standards.</b></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>
  <div class="modal fade" id="myModal3" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">SOLAR STREET LIGHTING SYSTEM (SSLS)</h4>
        </div>
        <div class="modal-body">
          <p><b>The DC energy meter is a dual channel DC multifunction meter for measurement of DC
            energy, from SPV applications. It measures DC electrical parameters like voltage,
            ampere, ampere-hour (Ah) and kilowatt-hour (kWh). The battery charging and
            discharging para meters can be monitored by using this meter. This instrument has an
            optional RS 485 output port for RM interface.</b></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>
  <div class="modal fade" id="myModal4" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">REMOTE MONITORING & DIAGONISTIC SYSTEM (RMS)</h4>
        </div>
        <div class="modal-body">
          <p><b>Primarily developed to monitor the performance of a Solar PV Power Plant (SPP)of any
            size, to maximize solar power harvesting and reduce maintenance cost and time, for
            analysis of the plant performance data. It also has the capability to transfer the logged
            data to Agni’s server for remote monitoring purpose. Generally Agni provides a user ID
            and a password to the intended customer for monitoring purpose. Customer can
            monitor their SPP remotely with the help of a monitoring web-portal, with the supplied
            ID and password, using any standard web-browser like Mozilla, firefox, google
            chrome.Agni will maintain the server, reducing the customer’s effort to maintain the
            same.</b></p></h4>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>
</body>

</html>
