<!DOCTYPE html>
<html>

<head>
	<title>Our Projects</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

	<link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
	<style type="text/css">
	body{

    background-image: url(https://cratewholesale.com/wp-content/uploads/2012/05/light-green-background-2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;


  }

		.jumbotron {
	    color: #fff;
	    background: linear-gradient(#75777a,#2c3e50);
	  }
		.navbar{
			border: none;
			border-radius: none;
		}

		.navbar-inverse {
			background: #2c3e50;
			color: white;
		}

		.navbar-inverse .navbar-brand,
		.navbar-inverse a {
			color: black;
		}

		.navbar-inverse .navbar-nav>li>a {
			color: #2c3e50	;
		}

			.page-footer {
			background-color: #2c3e50;
			padding-top: 10px;
			padding-bottom: 20px;
			font-size: 15px;
		}

		p {
			color: #ffffff;

		}

		#company-name{
	    font-size:25px;
	    color:#edffb3;
	    padding-left: 10px;
	  }

	  #footer-text{
	    color:#ffffff;
	    padding-left: 10px;
			font-size: 18px;
	  }

		.dropdown-menu {
			background: #293e50;
		}

		.dropdown-menu>li>a {
			color: #ffffff;
		}

		#highlights {
			font-size: 20px;
			padding-top: 10px;
		}

		.thumbnail:hover {

			transform: scale(1.1);

		}
		.nav > li > a{
			font-size: 18px;
			padding-top: 15px;
			color: #fff;
		}

		#nav-content{
			padding-top: 20px;

		}
		.navbar-nav > li > a:hover {

			color: #008e00!important;
			background-color: #d6e3c5!important;

	}

	</style>

</head>

<body>
	<%- include('navbar') %>
	<!-- <nav class="navbar navbar-inverse" style="background-color:#eee;" >
	<div class="navbar-header">
	<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-demo">
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
</button>
</div>
<div class="collapse navbar-collapse" id="navbar-demo">
<ul class="nav navbar-nav" style="color: black;">
<li><a href="/"><img src="images/logo1.png" width="250" height="60" alt=""></a></li>
<li id="nav-content"><a href="/aboutus">About Us</a></li>
<li id="nav-content"><a href="/product">Products</a></li>
<li id="nav-content"><a href="/project">Project</a></li>
<li id="nav-content"><a href="#bottom">Contact us</a></li>
<li id="nav-content"><a href="/career">Career</a></li>
</ul>
</div>
</nav> -->
		<div class="container-fluid">

			<div class="jumbotron">
				<h1><i class="fa fa-file-text"></i> Projects </h1>
				<!-- <p>A bunch of beautiful images that I didn't take (except for the first one!)</p> -->
			</div>
			<br><br>
			<h1 style="border-top: 1px solid #E3E3E3; line-height: 0.0em !important; text-align: center; margin-bottom: 30px; color: #005bae;"><span style="background: #fff !important; padding: 0 10px !important; ">HIGHLIGHTS</span></h1>

			<ul style="font-family:'Josefin Sans';" id="highlights">
				<li>ALCEN successfully completed supply, installation, commmissioning &
					maintenance of 80+ kwp commercial and domestic projects.</li>
				<li>For OMSPTRI, IRC Village, Nayapalli, we have installed 5 kw roof top solar</li>
				<li>For Indian Oil Petrol Pump, Khordha , Bhubaneswar we have installed 10 kw
					roof top solar.</li>
				<li>30kw roof top solar for Ugalamani Food Processing Unit at Mancheswar,
					Bhubaneswar</li>
				<li>A 43 kw Concentric Solar Thermal receier for boiler operation is in process of
					commissioning at OMFED, Bhubaneswar.</li>
			</ul>
		<br>
<h1 style="border-top: 1px solid #E3E3E3; line-height: 0.0em !important; text-align: center; margin-bottom: 30px; color: #005bae;"><span style="background: #fff !important; padding: 0 10px !important;">OUR PROJECTS</span></h1>
			<br><br>
			<div class="row">
				<div class="col-lg-3 col-sm-6">
					<div class="thumbnail">
						<img src="images/pro1.jpg">
        </div>
					</div>
					<div class="col-lg-3 col-sm-6">
						<div class="thumbnail">
							<img src="images/pro2.jpg">
        </div>
						</div>
						<div class="col-lg-3 col-sm-6">
							<div class="thumbnail">
								<img src="images/pro8.jpg">
				</div>
							</div>
							<div class="col-lg-3 col-sm-6">
								<div class="thumbnail">
									<img src="images/pro3.png" >
        </div>
								</div>
								<div class="col-lg-3 col-sm-6">
									<div class="thumbnail">
										<img src="images/pro4.jpg">
        </div>
									</div>
									<div class="col-lg-3 col-sm-6">
										<div class="thumbnail">
											<img src="images/pro5.jpg">
        </div>
										</div>
										<div class="col-lg-3 col-sm-6">
											<div class="thumbnail">
												<img src="images/pro6.jpg">
        </div>
											</div>
											<div class="col-lg-3 col-sm-6">
												<div class="thumbnail">
													<img src="images/pro7.jpg">
        </div>
												</div>
											</div>
											<div class="row">
												<div class="col-lg-12">

			</div>

												</div>
											</div>
											<br><br>
	                    <footer id="bottom" class="page-footer">
	                        <div class="row">
	                          <div class="col-lg-6">
	                            <p id="company-name">Alcen Technologies Private Limited</p>
	                          </div>
	                          <div class="col-lg-6">
	                            <p id="footer-text">Plot No.- 24/1/A, Chandaka industial Estate,Near NIFT Building,KIIT Campus,BHUBANESWAR-751024. ,Odisha<br>Tel.:+91 674 2552984 2552985, Fax: +91 674 2552986<br>Email: alcentechnology@gmail.com<br><a href="/login"><i class="fas fa-user" style="color:white;">Admin Login</i><a></p>
	                          </div>
	                        </div>
	                    </footer>

											<script src="https://code.jquery.com/jquery-2.1.4.js"></script>
											<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>

</html>
