<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title></title>
</head>

<body>
  <div id="noticeboard">
    <ul id="notices" class="notice">
      <h3>Notices</h3>
      <% for(var i=0; i<datas.length; i++ ) { %>
      <li><span class="title"><a href="/details/<%= datas[i].title %>"><%= datas[i].title %></a> </span>
        <span class="body"><%= datas[i].body %> </span>
      </li>
      <% } %>
    </ul>
  </div>
</body>

</html>
